services:
  nginx:
    container_name: nginx
    image: nginx
    build:
      context: ./requirements/nginx
    pull_policy: build
    ports:
      - '443:443'
    networks:
      - inception_net
    depends_on:
      - wordpress
    volumes:
      - wp_data:/var/www/html:ro
    restart: on-failure

  wordpress:
    container_name: wordpress
    image: wordpress
    build:
      context: ./requirements/wordpress
    pull_policy: build
    networks:
      - inception_net
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - wp_data:/var/www/html
    restart: on-failure

  mariadb:
    container_name: mariadb
    image: mariadb
    build:
      context: ./requirements/mariadb
    pull_policy: build
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: on-failure

networks:
  inception_net:
    driver: bridge

volumes:
  mariadb_data:
  wp_data:
